@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html { 
  background: #03567A;
}

body { 
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* STRUCTURE */

.weatherapp {
   padding: 5px;
   width: 960px;
   margin: 20px auto;
   background: #fff;
   border: 2px solid rgba(8,146,208,1);
   -webkit-box-shadow: -10px 10px 0px 0px rgba(8,146,208,1);
   -moz-box-shadow: -10px 10px 0px 0px rgba(8,146,208,1);
   box-shadow: -10px 10px 0px 0px rgba(8,146,208,1);
}
header {
   height: 100px;
   padding: 0 15px;
}
.second-header{
   padding: 0 15px;
}
.weatherapp__box--left {
   width: 290px;
   float: left;
   padding: 5px 15px;
}

.weatherapp__box--middle {
   width: 294px; /* Account for margins + border values */
   float: left;
   padding: 5px 15px;
   margin: 0px 5px 5px 5px;
}

.weatherapp__box--right {
   width: 270px;
   padding: 5px 15px;
   float: left;
}
footer {
   clear: both;
   padding: 0 15px;
}

button{
    background-color: #03567A; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
   
   .weatherapp {
      width: 94%;
   }
   .weatherapp__box--left {
      width: 41%;
      padding: 1% 4%;
   }
   .weatherapp__box--middle{
      width: 41%;
      padding: 1% 4%;
      margin: 0px 0px 5px 5px;
      float: right;
   }
   
   .weatherapp__box--right {
      clear: both;
      padding: 1% 4%;
      width: auto;
      float: none;
   }

   header, footer, .second-header {
      padding: 1% 4%;
   }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

   .weatherapp__box--left {
      width: auto;
      float: none;
   }
   
   .weatherapp__box--middle {
      width: auto;
      float: none;
      margin-left: 0px;
   }
   
   .weatherapp__box--right {
      width: auto;
      float: none;
   }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

   header {
      height: auto;
   }
   h1 {
      font-size: 2em;
   }

}

header, .weatherapp__box {
   margin-bottom: 5px;
}
